@media ( max-width: 992px) {
    .container {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

.Navbar-Container{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 0px 3px 3px #DCDCDC;
    padding: 0px 0px 30px 0px;
}


.Navbar-Top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    padding: 20px 12px 0px;
    text-decoration: none;

}

.Navbar-Top img {
    display: flex;
    align-items: left;
}

.Navbar-Top :link {
    border-bottom: 1 px solid transparent;
    text-decoration: none;
    cursor: pointer;
    
    & :hover {
        text-decoration: #DA362C;
        
    }
        
}


.Navbar-Search{
    background-color: #DA362C;
    color: white;
    height: 50px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Montserrat', sans-serif;
    padding: 0px 18px;
    font-size: 11px;
    font-weight: 1000;
}
.Search-Bar{
    position: relative;
    display: flex;
}
.Search-Bar i{
    position: absolute;
    top: 18px;
    left: 40px
}

.Navbar-Links-Top-Container{
    display: flex;
    width: 400px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.Navbar-Search-Bar{
    height: 50px;
    width: 2000px;
    background: #F6F6F6;
    border: 1px solid #d9d9d9;
    margin-left: 30px
}
.Search-Bar input:focus{
    border: 1px solid black;
    outline: none;
}
.Search-Bar input:focus::-webkit-input-placeholder{
    color: transparent;
}
.black-bar{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 4.4vh;
    align-items: center;
    justify-content: space-evenly;
}
.black-bar h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 1000;
    color: white;
    margin-left: 5px
}
.black-filler{
    width: 18vw
}
.fas fa-search{
    position: absolute
}
.black-bar span{
    display: flex;
    flex-direction: row;
    margin-right: 10px
}
.Navbar-Links-Top-Container h6{
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-top: 5px
}
.Navbar-Links-Top-Container h6:hover{
    color: red
}
.Navbar-Links-Top-Container span{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid #d9d9d9;
    text-align: center;
    height: 35px;
    padding: 0 1rem
}

.Navbar-Top input{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-indent: 32px
}
#Last-Link{
    border-right: none;
}
