.product-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.content-wrapper  {
    display: flex;
    align-items: center;
    justify-items: start;
}